@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-white: #ffffff;
    --color-theme: #ff7373;
    --color-main: #222529;
    --color-dark: #23262a;
    --color-shadow: rgba(0, 0, 0, 0.06);
    --linear-gradient-dark: #e6e6e6;
    --linear-gradient-light: #f5f5f5;

    --font-poppins:'poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-13: 1.08rem;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-20: 1.67rem;
    --font-size-35: 2.92rem;
    --font-size-45: 3.76rem;
    --font-size-65: 5.43rem;

    --max-width: 1680px;




    /* --color-white: #ffffff;
  

    --color-gray-3: #bebebe;
    --color-gray-4: #616365;

    --color-darks: #23262a;
    
    --color-gray-card: #CDCED0;

    --font-poppins:'poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-13: 1.08rem;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-20: 1.67rem;
    --font-size-35: 2.92rem;
    --font-size-45: 3.76rem;
    --font-size-65: 5.43rem;

    --max-width: 1680px; */

}

/* General stuff */
html,
body {
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    /* with it buttons do not look as theu supposed to look */
    /* font-size: var(--font-size-16); */
}

a {
    color: var(--color-theme);
    text-decoration: none;
}
    a:hover {
        color: var(--color-theme);
        text-decoration: underline;
    }

/* Black button -> red */
.btn-theme-dark {
    height: 60px;
    width: 190px;
    background-color: var(--color-dark);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    transition: background 200ms ease-in-out;
}
    .btn-theme-dark p {
        margin: 0;
        font-weight: var(--font-size-16);
        font-weight: var(--font-weight-semi-bold);   
    } 
        .btn-theme-dark:hover {
            background-color: var(--color-theme);
        }
        .btn-theme-dark .line-button-l-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            width: 20px;
        }
        .btn-theme-dark .line-button-l-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            height: 20px;
        }
        .btn-theme-dark .line-button-r-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            width: 20px;
        }
        .btn-theme-dark .line-button-r-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            height: 20px;
        }

/* White button -> red */
.btn-theme-white {
    height: 60px;
    width: 190px;
    background-color: var(--color-white);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main);
    transition: background 200ms ease-in-out;
}
    .btn-theme-white p {
        margin: 0;
        font-weight: var(--font-size-16);
        font-weight: var(--font-weight-semi-bold);   
    } 
        .btn-theme-white:hover {
            background-color: var(--color-theme);
        }
        .btn-theme-white .line-button-l-1 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            top: 10px;
            left: 10px;
            width: 20px;
        }
        .btn-theme-white .line-button-l-2 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            top: 10px;
            left: 10px;
            height: 20px;
        }
        .btn-theme-white .line-button-r-1 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            bottom: 10px;
            right: 10px;
            width: 20px;
        }
        .btn-theme-white .line-button-r-2 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            bottom: 10px;
            right: 10px;
            height: 20px;
        }

/* Red button -> black */
.btn-theme-red {
    height: 60px;
    width: 190px;
    background-color: var(--color-theme);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    transition: background 200ms ease-in-out;
}
    .btn-theme-red p {
        margin: 0;
        font-weight: var(--font-size-16);
        font-weight: var(--font-weight-semi-bold);   
    } 
        .btn-theme-red:hover {
            background-color: var(--color-dark);
        }
        .btn-theme-red .line-button-l-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            width: 20px;
        }
        .btn-theme-red .line-button-l-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            height: 20px;
        }
        .btn-theme-red .line-button-r-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            width: 20px;
        }
        .btn-theme-red .line-button-r-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            height: 20px;
        }



/* the start of the page */
    .__gradient-gray {
        background: var(--linear-gradient-dark);
        background: linear-gradient(90deg, var(--linear-gradient-dark) 0%, var(--linear-gradient-light) 100%);
    }

    .__logo {
        font-size: 35px;
        font-weight: var(--font-weight-bold);
    }

    .bg-theme {
        background-color: var(--color-theme);
    }

    header {
        margin-bottom: 135px;
    }

    .__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .__navbar .__nav-links {
        font-weight: var(--font-weight-medium);
    }

        .__navbar .__nav-links a {
            color: var(--color-main);
            font-weight: var(--font-weight-medium);
            text-decoration: none;
            margin-left: 15px;
            margin-right: 15px;
        }

            .__navbar .__nav-links a:hover {
                color: var(--color-theme);
                text-decoration: none;
            }

            .__navbar .__nav-links a:active,
            .__navbar .__nav-links .__active {
                color: var(--color-theme);
                text-decoration: none;
            }

    .__nav-icon-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
        
        .__navbar .__nav-icon-links a {
                background-color: var(--color-white);
                color: var(--color-main);
                width: 36px;
                height: 36px;
                margin-left: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 6px 4px var(--color-shadow);
                position: relative;
        }

            .__navbar .__nav-icon-links a:hover {
                color: var(--color-theme);
                text-decoration: none;
            }

/* showcase */
.__showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #222529;
}

    .__showcase img {
        border: solid #222529; 
    }


    .__showcase .__img-left {
        margin-left: -127px;
    }  

    .__showcase .__img-right {
        margin-right: -127px;
    }  

    .__showcase .__showcase-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
        .__showcase .__showcase-body h1 {
            font-size: var(--font-size-65);
            font-weight: var(--font-weight-extra-bold);

        }

        .__showcase .__showcase-body >p {
            margin-top: 50px;
            margin-bottom: 35px;
            font-size: var(--font-size-20);
        }







/* contact page */
/* breadcrumb part: home->contacts */

.breadcrumb {
    margin-top: 20px;
}

    .breadcrumb .container {
        max-width: 1110px;
    }

        .breadcrumb .breadcrumb-list {
            list-style: none;
            margin: 0 0 40px 0;
            padding: 0;
            color: var(--color-theme);
        }   

                .breadcrumb .breadcrumb-list li {
                display: inline-block;
                font-weight: var(--font-weight-medium);
            }

                    .breadcrumb .breadcrumb-list li + li:before {
                    content: ">\00a0";
                    font-weight: var(--font-weight-regular);
                    color: var(--color-main);
                }

                .breadcrumb .breadcrumb-list li a {
                    color: var(--color-main);
                }

                    .breadcrumb .breadcrumb-list li a:hover {
                        color: var(--color-theme);
                    }

.map {
    margin-bottom: 70px ;
}
    .map .google-map {
        border:0; width: 100%; height: 380px;
    }


        





            
@media (min-width: 1600px) {
    .container {
        max-width: var(--max-width);
    }
}






